<div class="parallax">
  
  <div class="container-banner">

    <a href="<%= root_path %>" id="logo"><h1>FLAVIE<br>SEREN-ROSSO</h1></a>

    <div class="menu">
     <nav class="main-navbar hidden-navbar">
        <div ><%= link_to "Mes Pâtisseries", '#', class: "navbar-item" %></div>
        <div ><%= link_to "Qui suis-je ?", '#', id: "navbar-item-2" %></div>
        <div ><%= link_to "Me Contacter", '#', class: "navbar-item" %></div>
      </nav>
      <svg class="ham hamRotate ham1" viewBox="0 0 100 100" width="80" onclick="this.classList.toggle('active')">
        <path class="line top"
              d="m 30,33 h 40 c 0,0 9.044436,-0.654587 9.044436,-8.508902 0,-7.854315 -8.024349,-11.958003 -14.89975,-10.85914 -6.875401,1.098863 -13.637059,4.171617 -13.637059,16.368042 v 40" />
        <path class="line middle" d="m 30,50 h 40" />
        <path class="line bottom"
              d="m 30,67 h 40 c 12.796276,0 15.357889,-11.717785 15.357889,-26.851538 0,-15.133752 -4.786586,-27.274118 -16.667516,-27.274118 -11.88093,0 -18.499247,6.994427 -18.435284,17.125656 l 0.252538,40" />
      </svg>   
    </div>

  </div>
</div>

<div class="overflow">

  <div class="container-portfolio">

    <div class="portfolio-header">
      <h2>FLAVIE SEREN-ROSSO | PATISSIERE PASSIONNEE</h2>
      <%= image_tag("Soulignement_or_endroit.png") %>
    </div>
    
    <div class="row">
      <div class="pastry-row" id="row1">
        <div class="card-container">
          <div class="card">
            <div class="front">
              <div class="cover" style="background-image: url(https://res.cloudinary.com/dyrkwhhio/image/upload/v1611851913/Portfolio%20Flavie/1._Religieuses_jqvxaa.png);">
              </div>
            </div>
            <div class="back bg-gold">
              <div class="header">
                <h4>Religieuses</h4>
              </div>
              <div class="content">
                <p>Craquelin sur choux <br>Crémeux au café</p>
              </div>
            </div>
          </div>
        </div>

        <div class="card-container">
          <div class="card">
            <div class="front">
              <div class="cover" style="background-image: url(https://res.cloudinary.com/dyrkwhhio/image/upload/v1611854329/Portfolio%20Flavie/2._For%C3%AAt_zgvh4m.png);">
              </div>
            </div>
            <div class="back bg-creme">
              <div class="header">
                <h4>Religieuses</h4>
              </div>
              <div class="content">
                <p>Craquelin sur choux <br>Crémeux au café</p>
              </div>
            </div>
          </div>
        </div>

        <div class="card-container">
          <div class="card">
            <div class="front">
              <div class="cover" style="background-image: url(https://res.cloudinary.com/dyrkwhhio/image/upload/v1611854329/Portfolio%20Flavie/3._Noix_de_coco_mpywr8.png);">
              </div>
            </div>
            <div class="back bg-gold">
              <div class="header">
                <h4>Religieuses</h4>
              </div>
              <div class="content">
                <p>Craquelin sur choux <br>Crémeux au café</p>
              </div>
            </div>
          </div>
        </div>
        
        <div class="card-container">
          <div class="card">
            <div class="front">
              <div class="cover" style="background-image: url(https://res.cloudinary.com/dyrkwhhio/image/upload/v1611854329/Portfolio%20Flavie/4._D%C3%B4mes_dx1qmr.png);">
              </div>
            </div>
            <div class="back bg-creme">
              <div class="header">
                <h4>Religieuses</h4>
              </div>
              <div class="content">
                <p>Craquelin sur choux <br>Crémeux au café</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="pastry-row" id="row2">
        <div class="card-container">
          <div class="card">
            <div class="front">
              <div class="cover" style="background-image: url(https://res.cloudinary.com/dyrkwhhio/image/upload/v1611854329/Portfolio%20Flavie/5._Bavarois_pqdjim.png);">
              </div>
            </div>
            <div class="back bg-creme">
              <div class="header">
                <h4>Religieuses</h4>
              </div>
              <div class="content">
                <p>Craquelin sur choux <br>Crémeux au café</p>
              </div>
            </div>
          </div>
        </div>

        <div class="card-container">
          <div class="card">
            <div class="front">
              <div class="cover" style="background-image: url(https://res.cloudinary.com/dyrkwhhio/image/upload/v1611854329/Portfolio%20Flavie/6._Charlotte_cxtqyx.png);">
              </div>
            </div>
            <div class="back bg-gold">
              <div class="header">
                <h4>Religieuses</h4>
              </div>
              <div class="content">
                <p>Craquelin sur choux <br>Crémeux au café</p>
              </div>
            </div>
          </div>
        </div>

        <div class="card-container">
          <div class="card">
            <div class="front">
              <div class="cover" style="background-image: url(https://res.cloudinary.com/dyrkwhhio/image/upload/v1611854329/Portfolio%20Flavie/7._Tartelettes_framboise_shfrwz.png);">
              </div>
            </div>
            <div class="back bg-creme">
              <div class="header">
                <h4>Religieuses</h4>
              </div>
              <div class="content">
                <p>Craquelin sur choux <br>Crémeux au café</p>
              </div>
            </div>
          </div>
        </div>
        
        <div class="card-container">
          <div class="card">
            <div class="front">
              <div class="cover" style="background-image: url(https://res.cloudinary.com/dyrkwhhio/image/upload/v1611854329/Portfolio%20Flavie/8._Fraisier_jrdsrf.png);">
              </div>
            </div>
            <div class="back bg-gold">
              <div class="header">
                <h4>Religieuses</h4>
              </div>
              <div class="content">
                <p>Craquelin sur choux <br>Crémeux au café</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="pastry-row" id="row3">
        <div class="card-container">
          <div class="card">
            <div class="front">
              <div class="cover" style="background-image: url(https://res.cloudinary.com/dyrkwhhio/image/upload/v1611854329/Portfolio%20Flavie/9._Galette_tt9kju.png);">
              </div>
            </div>
            <div class="back bg-gold">
              <div class="header">
                <h4>Religieuses</h4>
              </div>
              <div class="content">
                <p>Craquelin sur choux <br>Crémeux au café</p>
              </div>
            </div>
          </div>
        </div>

        <div class="card-container">
          <div class="card">
            <div class="front">
              <div class="cover" style="background-image: url(https://res.cloudinary.com/dyrkwhhio/image/upload/v1611854329/Portfolio%20Flavie/10._Chocolats_zq2e8o.png);">
              </div>
            </div>
            <div class="back bg-creme">
              <div class="header">
                <h4>Religieuses</h4>
              </div>
              <div class="content">
                <p>Craquelin sur choux <br>Crémeux au café</p>
              </div>
            </div>
          </div>
        </div>

        <div class="card-container">
          <div class="card">
            <div class="front">
              <div class="cover" style="background-image: url(https://res.cloudinary.com/dyrkwhhio/image/upload/v1611854330/Portfolio%20Flavie/11._Pains_au_chocolat_cipfmh.png);">
              </div>
            </div>
            <div class="back bg-gold">
              <div class="header">
                <h4>Religieuses</h4>
              </div>
              <div class="content">
                <p>Craquelin sur choux <br>Crémeux au café</p>
              </div>
            </div>
          </div>
        </div>
        
        <div class="card-container">
          <div class="card">
            <div class="front">
              <div class="cover" style="background-image: url(https://res.cloudinary.com/dyrkwhhio/image/upload/v1611854329/Portfolio%20Flavie/12._Macarons_au_chocolat_zk40ea.png);">
              </div>
            </div>
            <div class="back bg-creme">
              <div class="header">
                <h4>Religieuses</h4>
              </div>
              <div class="content">
                <p>Craquelin sur choux <br>Crémeux au café</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    </div>

   
    

  </div>
</div>
